// Define colors here, use them later on
// Names are derived from http://chir.ag/projects/name-that-color/
// -----------------------------------------------------------------
$white: #fff;
$east-bay: #393A73;
$dove-gray: #666;
$gallery: #f0f0f0;
    

// Base colors
// -----------------------------------------------------------------
$body-bg-color: $white;
$link-color: $east-bay;


// Layout colors
// -----------------------------------------------------------------
